/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

.note {
  height: 75px;
  width: 5vw;
  background-color: rgb(135, 230, 243, 0.1);
  z-index: 1;
  position: absolute;
  border: solid 2px black;
  border-radius: 25px;
}

.string1{
  top: calc( 45vh/5 * 0.4);
}

.string2{
  top: calc( 45vh/5 * 1.4);
}

.string3{
  top: calc( 45vh/5 * 2.4);
}

.string4{
  top: calc( 45vh/5 * 3.4);
}

.string5{
  top: calc( 45vh/5 * 4.4);
}

.string6{
  top: calc( 45vh/5 * 5.4);
}

.fret0,.fret1,.fret2{
  width: 6.286vw;
}

.fret0 {
  left: calc(75px + 0.55vw);
}

.fret1{
  left: calc(75px + 8.4vw);
}

.fret2 {
  left: calc(75px + 15.6vw);
}

.fret3,.fret4 {
  width: 5.572vw
}

.fret3 {
  left: calc(75px + 22.75vw);
}

.fret4 {
  left: calc(75px + 29.20vw);
}

.fret5 {
  width: 5.286vw;
  left: calc(75px + 35.40vw);
}

.fret6 {
  left: calc(75px + 41.25vw);
}

.fret7 {
  left: calc(75px + 46.85vw);
}

.fret8 {
  left: calc(75px + 52.40vw);
}

.fret9 {
  left: calc(75px + 57.95vw);
}

.fret10 {
  left: calc(75px + 63.5vw);
}

.fret11{
  left: calc(75px + 69.05vw);
}

.fret12{
  left: calc(75px + 74.6vw);
}

.fret13 {
  left: calc(75px + 80.15vw);
}

.fretBoard{
  height: 45vh;
  width: 85.75vw;
  background-color: navajowhite;
  margin-left: 75px;
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.fret {
  height: calc(45vh / 5);
  border: solid 1px black;
  display:flex;
  justify-content: center;
}

.one {
  width: calc(4.49vw * 1.75);
  border-right: solid 10px black
}

.two {
  width: calc(4.238vw * 1.75);
}

.three {
  width: calc(4vw * 1.75);
}

.four {
  width: calc(3.776vw * 1.75);
}

.five {
  width: calc(3.564vw * 1.75);
}

.six {
  width: calc(3.364vw * 1.75);
}

.seven,.eight,.nine,.ten,.eleven,.twelve,.thirteen,.fourteen {
  width: calc(3.175vw * 1.75);
}


.dot{
  height: 47px;
  width: 47px;
  background-color: gray;
  border-radius: 50%;
  align-self: center;

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
